:root{
    --redOrange:#ff5e57;
}

.App{
    background-color: #1e272e;
    height:100vh;
}
.header{
    border-bottom:2px solid black;
    height:60px;
    position:relative;

}
.headerButtons{

    height:60px;
    width:600px;
    float:right;
    position:relative;

}
.headerButtons > button{
    margin:0px 0px;
    padding:10px;
    color:var(--terminalGreen);
    background:var(--black);
    border-color:var(--terminalGreen);
    display:inline;

    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    
    border-radius: 5px;
    width:300px;
    font-size:16px;

    transition:.4s;

}
    .headerButtons>div{
        position: absolute;
        margin-top:50px;
        left:50%;
        transform: translateX(-50%);
    }
    .headerButtons > button:hover{
        cursor:pointer;
        background-color: var(--gray);
    }
.welcomeMessage{
    width:200px;
    display:inline-block;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    margin-left:30px;

    border:solid var(--terminalGreen) 2px;
    background-color:var(--black);
    text-align: center;
    padding:10px;
}
    .welcomeMessage:hover{
        cursor:default;
    }